*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
body{
    height: 100vh;
    background: linear-gradient(135deg, #9F3447, #B36BBB);
}